@model ImageGallery.Client.OrderFrameViewModel

<div class="container">
    <div class="h3">Order a framed version of your favourite picture</div>
    <div class="text">We've got this address on record for you:</div>
    <div class="text">@Model.Address</div>
</div>